body {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
body > * {
    margin-bottom: 1rem;
}
#result {
    font-size: large;
    white-space: pre-line;
}
#result::first-line {
    font-size: larger;
    font-weight: bold;
}